<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Navbar -->
            <app-navbar></app-navbar>
            <!-- End of Navbar -->

            <!-- Beging DAAASHBOOAARD -->
            <div class="container-fluid">

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4 ">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h3 class="m-0 font-weight-bold text-primary l1">Réclamation</h3>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <!-- ICIIIIIIIII -->
                                <h2>Référence : {{reclam.reference}} </h2>
                                <h2>Objet : </h2>
                                <h3>{{reclam.object}}</h3>
                                <h2>Contenu :</h2>
                                <h3>
                                    {{reclam.contenu}}
                                </h3>
                                <div class="card-footer text-muted">
                                    <div class="row">
                                        <p  class="card-text col-9">Votre réclamation n'est pas encore traitée. Voulez-vous la supprimer ? 
                                            <button type="submit" class="btn btn-danger b1"
                                            (click)="deleteReclam()">Supprimer</button>
                                        </p>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            


               

            </div>
            <!-- End of DASHBOAAARD -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Allez-vous quitter ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Sélectionnez se déconnecter si vous êtes prêts à arrêter votre session</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" [routerLink]="['/register']">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>