.menudash{
    background-color: red;
}
.logoo{
    height: 20%;
    width: 20%;
    margin-left: 0%;
    margin-top: 1%;
   }

.menubar{
    text-align: center;
} 
.dashicons1{
    margin-left: 5%;
}
.dashicons2{
    margin-left: 3%;  
}
.c1{
    margin-left: 10%;
}
.bb{
    margin-left: 70%;
    width: 30%;
    display: block;

}
.photo{
    display: flex;
}
