
<!-- Card -->
<div class="container mt-5">
    <div class="list-group">
        <a  class="list-group-item list-group-item-action flex-column align-items-start">
            <div *ngFor="let article of Articles">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-md-12 right">

                            <img src="https://www.ilboursa.com/handlers/image_news_get.ashx?id=73427493-E994-4D77-9BE6-96763325388E"
                                alt="">
                            <div class="text">
                                <h1> {{ article.titre }} </h1>
                                <p>
                                    {{ article.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row bb">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button (click)="LirePlus(article.id)" type="button" class="b1 btn btn-outline-danger">Lire plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>


</div>