* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 22px;
    color: #555;
    border-bottom-left-radius: 50px;
    
}

.right {
    display: flex;
}

.right img {
    height: 180px;
}

.right .text {
    padding: 10px 20px;
}

.right .text h1 {
    color: #555;
}

.right .text p {
    font-size: 14px;
    color: #111;
    line-height: 1.9;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.left div:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    height: 100px;
    width: 2px;
    background: #ccc;
}

.left div:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 180px;
    height: 100px;
    width: 2px;
    background: #ccc;
}

.left h1 {
    color: #ccc;
}

.left p {
    color: lightblue;
}
.bb{
    margin-left: 90%;
    width: 10%;
    display: block;

}
.b1{
    
    font-size: 15px;
    width: 98%;

}

/* Media Query */
@media (max-width: 1200px) {
    .left div:nth-child(2)::before {
        display: none;
    }
}

@media (max-width: 1000px) {
    .right img {
        height: 150px;
    }
    .right .text p {
        font-size: 12px;
    }
    .left h1, p {
        font-size: 18px;
        padding-left: 20px;
    }
    .left div:nth-child(2)::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .right img {
        height: 150px;
    }
    .right .text p {
        font-size: 12px;
    }
    .left div:nth-child(1)::before {
        top: -10px;
        left: 30px;
        height: 80px;
    }
}

@media (max-width: 600px) {
    .right .text p {
        font-size: 10px;
    }
}