<form class="user">

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label for="exampledatenaissance">Destination</label>
            <input type="texte" class="form-control form-control-user" id="exampledatenaissance"
                placeholder="Ville, quartier, région ou hôtel spécifique">
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="exampledatenaissance">Arrivée</label>
                <input type="date" class="form-control form-control-user" id="exampledatenaissance" placeholder="Date">
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="exampledatenaissance">Départ</label>
                <input type="date" class="form-control form-control-user" id="exampledatenaissance" placeholder="Date">
            </div>
        </div>
        <div class="row bb">

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="b1 btn btn-outline-danger" routerLink="">Rechercher</button>
            </div>
    
        </div>
    

</form>