<div class="tabs">

    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <input type="radio" id="tab4" name="tab-control">
    <ul>
        <li title="Features"><label for="tab1" role="button"><i class="far fa-calendar-alt icona"></i><br><span>Réservation</span></label></li>
        <li title="Delivery Contents"><label for="tab2" role="button"><i class="fas fa-archway icona"></i><br><span>Hôtels</span></label></li>
        <li title="Shipping"><label for="tab3" role="button"><i class="fas fa-car icona"></i><br><span>Voitures</span></label></li>
        <li title="Returns"><label for="tab4" role="button"><i class="fas fa-plane "></i><br><span>Vols en cours</span></label></li>
    </ul>

    <div class="slider">
        <div class="indicator"></div>
    </div>
    <div class="content">
        <section>
           <app-section1></app-section1>
        </section>
        <section>
            <app-section2></app-section2>
        </section>
        <section>
            <app-section3></app-section3>
        </section>
        <section>
            <app-section4></app-section4>
        </section>
    </div>
</div>