.bb{
    margin-left: 90%;
    width: 10%;
    display: block;

}
.rdb{
    margin-right: 2%;
}
.m1{
    margin-top: 0;
    margin-left: 2%;
}
.m2{
    margin-bottom: 1%;
}
.marg1{
    margin-left: 12%;
}