<form class="user">
    <div class="row">
        <div class="col-sm-4">
            <input class="rdb" type="radio" name="options" id="option1" autocomplete="off" checked>
            <label for="examplegenre" class="ls1">Aller simple</label>
        </div>
        <div class="col-sm-4">
            <input class="rdb" type="radio" name="options" id="option2" autocomplete="off">
            <label for="examplegenre">Aller retour</label>
        </div>
        <div class="col-sm-4">
            <a href="#">Multidestinations</a>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="row">
        <div class="col-sm-6">
            <label for="examplegenre">De :</label>
            <select name="hf" class="form-control form-control-user" id="examplegenre">
                <option value="h">Tunis</option>
                <option value="f">Paris</option>
            </select>

        </div>
        <div class="col-sm-6">
            <label for="examplegenre">Vers :</label>
            <select name="hf" class="form-control form-control-user" id="examplegenre">
                <option value="h">Tunis</option>
                <option value="f">Paris</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label for="exampledatenaissance">Vol aller :</label>
            <input type="date" class="form-control form-control-user" id="exampledatenaissance" placeholder="Date">
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label for="exampledatenaissance">Vol retour :</label>
            <input type="date" class="form-control form-control-user" id="exampledatenaissance" placeholder="Date">
        </div>
    </div>
    <hr class="sidebar-divider">
    <label>Voyageurs :</label>
    <br>
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="examplegenre">Adultes (+25)</label>
            <select name="hf" class="form-control form-control-user" id="examplegenre">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="examplegenre">Jeunes (12-24)</label>
            <select name="hf" class="form-control form-control-user" id="examplegenre">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="examplegenre">Enfants (2-11)</label>
            <select name="hf" class="form-control form-control-user" id="examplegenre">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="examplegenre">Bébés (< 2)</label>
                    <select name="hf" class="form-control form-control-user" id="examplegenre">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
        </div>
    </div>
    
    <hr class="sidebar-divider">
    <label>Paiment :</label>
    <div class="row">
        
        
        <div class="col-sm-6">
            <input class="rdb" type="radio" name="options" id="option1" autocomplete="off" checked>
            <label>Carte de crédit</label>
        </div>
        <div class="col-sm-6">
            
            <input class="rdb" type="radio" name="options" id="option2" autocomplete="off">
            <label>Carte e-Dinar</label>
        </div>
    </div>

    <div class="row bb">

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="b1 btn btn-outline-danger" routerLink="">Rechercher</button>
        </div>

    </div>

</form>