<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Navbar -->
            <app-navbar></app-navbar>
            <!-- End of Navbar -->

            <!-- Beging DAAASHBOOAARD -->
            <div class="container-fluid">

                <!-- Content Row -->


                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4 ">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h3 class="m-0 font-weight-bold text-primary l1">Liste des retraités</h3>
                                <i class="fas fa-search fa-sm i1"></i>
                                <input type="text" id="recherche" (input)="recherche($event.target.value)">

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <!-- ICIIIIIIIII -->
                                
                                <table class="table table-bordered table-responsive">
                                    <th *ngFor="let column of headers">
                                        {{column}}
                                    </th>
                                    <th>
                                        Activé(e)
                                    </th>
                                    
                                    <tr *ngFor="let retraite of retraites; let f=index">
                                        <td >
                                            {{f+1}}
                                        </td>
                                        <td >
                                            {{retraite.matricule}}
                                        </td> 
                                        <td >
                                            {{retraite.nom}}
                                        </td>
                                        <td >
                                            {{retraite.prenom}}
                                        </td>
                                        
                                        <td >
                                            {{retraite.email}}
                                        </td>
                                        <td >
                                            {{retraite.cin}}
                                        </td>
                                        <td >
                                            {{retraite.cnss}}
                                        </td>
                                        <td >
                                            {{retraite.adresse}}
                                        </td>
                                        <td >
                                            {{retraite.tel}}
                                        </td>
                                        <td > 
                                            <div class="form-check"  >
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault" [checked]=checkrets[f] (click)="activate(retraite)">
                                            </div>

                                        </td>
                                        <td>
                                            <button (click)="update(retraite)" class="btn btn-info btn-sm b1">
                                                <i class="fas fa-pen"></i>
                                                
                                            </button>
                                            <button (click)="delete(retraite)" class="btn btn-danger btn-sm ">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>



                </div>


                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Tunisair 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of DASHBOAAARD -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Allez-vous quitter ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Sélectionnez se déconnecter si vous êtes prêts à arrêter votre session</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" [routerLink]="['/register']">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>