<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <div class="menubar">
                <i class="fas fa-bars"></i>
                <span class="dashicons2">Menu</span>
            </div>
        </a>
    </li>




    <!-- Divider -->
    <hr *ngIf="user" class="sidebar-divider">

    <!-- Retraite -->
    <li *ngIf="user" class="nav-item">
        <a class="nav-link" [routerLink]="['/retraite/dashboard']">
            <i class="fas fa-plane-departure"></i>
            <span class="dashicons1">Billets de faveur</span>
        </a>
    </li>
    <!-- Divider -->
    <hr *ngIf="user" class="sidebar-divider">

    <li *ngIf="user" class="nav-item">
        <a class="nav-link" [routerLink]="['/retraite/actualites']">
            <i class="far fa-newspaper"></i>
            <span class="dashicons1">Actualités</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        </div>
    </li>
    <!-- Divider -->
    <hr *ngIf="user" class="sidebar-divider">

    <li *ngIf="user" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">
            <i class="fas fa-money-check"></i>
            <span class="dashicons1">Cotisations</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">

        </div>
    </li>
    <!-- Divider -->
    <hr *ngIf="user" class="sidebar-divider">


    <li *ngIf="user" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">
            <i class="fas fa-fw fa-folder"></i>
            <span class="dashicons1">Dossier CNSS</span>
        </a>
    </li>
    <!-- Divider -->
    <hr *ngIf="admin" class="sidebar-divider d-none d-md-block">

    <!-- Admin -->
    <li *ngIf="admin" class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-user-friends"></i>
            <span class="dashicons1">Retraités</span>
        </a>
        <div  id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/admin/dashboard']">Retraités en attente</a>
                <a class="collapse-item" [routerLink]="['/admin/liste']">Retraités approuvés</a>
            </div>
        </div>

    </li>
    <!-- Divider -->
    <hr *ngIf="admin" class="sidebar-divider">

    <li *ngIf="admin" class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
        aria-controls="collapseUtilities">
            <i class="fas fa-exclamation-triangle"></i>
            <span class="dashicons1">Réclamations</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/admin/liste-reclam-attente']">Réclamations en attente</a>
                <a class="collapse-item" [routerLink]="['/admin/liste-reclam']">Réclamations traitées</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr *ngIf="user" class="sidebar-divider">


    <li *ngIf="user" class="nav-item">
        <a class="nav-link" [routerLink]="['/retraite/reclamation']">
            <i class="fas fa-exclamation-triangle"></i>
            <span class="dashicons1">Réclamations</span>
        </a>
    </li>
    <!-- Divider -->
    <hr *ngIf="admin" class="sidebar-divider">



</ul>