<table class="table table-bordered">
    <th *ngFor="let column of headers">
        {{column}}
    </th>
    <th>
       #
    </th>
    <tr *ngFor="let vol of vols">
        <td *ngFor="let column of headers">
            {{vol[column]}}
        </td>
        <td>
            <button class="btn btn-info btn-sm b1">  
                <i class="fas fa-user-check"></i>
            </button>
                <button class="btn btn-danger btn-sm "> 
                    <i class="fas fa-user-slash"></i>
            </button>
   
        </td>
    </tr>
</table>
